@theme "gruvbox"
configuration {
    font: "Jetbrains Mono Nerd 10";
    show-icons: true;
    display-drun: "";
    drun-display-format: "{name}";
}

window {
    width: 20%;
    background-color: @bg;
    border: 2px;
    border-color: #90909044;
    border-radius: 8px;
}