@define-color bg0 #282828;
@define-color bg1 #3c3836;
@define-color bg2 #504945;
@define-color bg3 #665c54;
@define-color bg4 #7c6f64;

@define-color fg0 #fbf1c7;
@define-color fg1 #ebdbb2;
@define-color fg2 #d5c4a1;
@define-color fg3 #bdae93;
@define-color fg4 #a89984;

@define-color gray #928374;

@define-color red #fb4934;
@define-color green #b8bb26;
@define-color yellow #fabd2f;
@define-color blue #83a598;
@define-color purple #d3869b;
@define-color aqua #8ec07c;
@define-color orange #fe8019;

* {
  font-family:
    "JetBrainsMono NF",
    "Symbols Nerd Font";
  font-weight: bolder;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  color: @aqua;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

#workspaces button:hover {
  color: @blue;
  box-shadow: inherit;
  text-shadow: inherit;
  background: @bg0;
  border: @bg0;
}

#workspaces button.empty {
  color: @bg3;
}

#workspaces button {
  padding: 0 5px;
  color: @bg4;
  margin: 4px 0 4px 0;
  transition: color 200ms ease-in-out;
}

#workspaces button.selected {
  color: @blue;
}

#workspaces button.active {
  color: @purple;
}

#workspaces button.urgent {
  color: @red;
}

#image {
  margin: 4px 0 4px 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network.wifi,
#network.disconnected,
#wireplumber,
#custom-pacman,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 6px;
  color: @fg1;
  border-radius: 15px;
  margin: 5px 0;
}

#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
  margin-right: 7px;
}

#pulseaudio {
  padding: 0 10px;
  color: @fg1;
  border-radius: 15px;
  margin: 5px 0;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 2px;
}

#clock {
  color: @fg1;
}

#custom-pacman {
  color: @orange;
}

#pulseaudio {
  color: @purple;
}

#pulseaudio.muted {
  color: @bg4;
}

#network {
  color: @blue;
}

#network.disconnected {
  color: @bg4;
}

#network.ethernet {
  margin-right: 8px;
  margin-left: 8px;
}

#battery {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-power {
  color: @red;
}

#bluetooth {
  margin-right: 10px;
  font-size: 17px;
  color: @fg0;
}

#keyboard-state>label {
  padding: 0 5px;
}

#keyboard-state>label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

.modules-left {
  background-color: @bg0;
  border-radius: 10px;
  padding-right: 10px;
  margin: 5px 0 0 10px;
}

.modules-center {
  background-color: @bg0;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 5px;
  border: solid @aqua 2px;
}

.modules-right {
  background-color: @bg0;
  border-radius: 10px;
  padding: 0 10px;
  margin: 5px 10px 0 0;
}

#custom-spotify {
  color: @green;
  padding-right: 10px;
}

#custom-notification {
  color: @fg0;
  padding-right: 10px;
}

/* vim: ft=sass */